<h1>Listing best_laps</h1>

<table>
  <tr>
    <th>Race</th>
    <th>Driver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @best_laps.each do |best_lap| %>
  <tr>
    <td><%= best_lap.race %></td>
    <td><%= best_lap.driver %></td>
    <td><%= link_to 'Show', best_lap %></td>
    <td><%= link_to 'Edit', edit_best_lap_path(best_lap) %></td>
    <td><%= link_to 'Destroy', best_lap, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Best lap', new_best_lap_path %>
